---
title: Design Principles
layout: base
body-class: home
permalink: /
---

<header class="home">
  <div class="container nav-holder">
    {% include top-links.html %}
  </div>
  <div class="container row">
    <div class="header-left-wrapper columns large-6">
      <div class="logo">
        <div class="year">2018</div>
        <div class="title">Odp</div>
        <div class="subtitle">Olin Design Principles</div>
      </div>

      <div class="description">
        Olin Design Principles (<span class="smallcap">ODPs</span>) are short video snapshots designed to make
        particular moments from Olin courses available as references both to
        individuals who are able to visit us on campus as well as those who can
        only visit virtually.
      </div>
    </div>
    <div class="header-right-wrapper columns large-6">
      <div class="banner">
          <div class="slides">
              <div class="slide" style="background-image: url('https://olin-design-principles.s3.amazonaws.com/carousel/carousel_1.jpg')">
                <div class="content">
                  <div class="text">
                      <div class="title">1 We do things in our own special way. Want to see?</div>
                      <div>
                        Take a look around and feel free to riff on our ideas or maybe just
                        get inspired to come up with some of your own.
                      </div>
                  </div>
                </div>
              </div>
              <div class="slide" style="background-image: url('https://olin-design-principles.s3.amazonaws.com/carousel/carousel_1.jpg')">
                <div class="content">
                    <div class="text">
                        <div class="title">2 We do things in our own special way. Want to see?</div>
                        <div>
                          Take a look around and feel free to riff on our ideas or maybe just
                          get inspired to come up with some of your own.
                        </div>
                    </div>
                </div>
              </div>
              <div class="slide" style="background-image: url('https://olin-design-principles.s3.amazonaws.com/carousel/carousel_1.jpg')">
                <div class="content">
                    <div class="text">
                        <div class="title">3 We do things in our own special way. Want to see?</div>
                        <div>
                          Take a look around and feel free to riff on our ideas or maybe just
                          get inspired to come up with some of your own.
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>
</header>
<div class="container">
  {% include filters.html %}
  <div class="sightings random grid display-area">
    {% for sighting in site.sightings %}
    <a class="sighting card show-card" href={{ sighting.url | relative_url }} data-principles="{{sighting.principle}}"
      data-courses="{{sighting.course-number}}" data-instructors="{{sighting.course-instructor}}">
      <div class="inner">
        <div class="principle">{{ sighting.principle }}</div>
        <img src="{{ sighting.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' }}" />
        <h1>{{ sighting.title }}</h1>
        {% if sighting.summary %}
        <div class="quoted summary">{{ sighting.summary | default: 'TBD' }}</div>
        {% else %}
        <div class="summary">Summary TBD</div>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="sightings random grid never-show">
    {% for sighting in site.sightings %}
    <a class="sighting card show-card" href={{ sighting.url | relative_url }} data-principles="{{sighting.principle}}"
      data-courses="{{sighting.course-number}}" data-instructors="{{sighting.course-instructor}}">
      <div class="inner">
        <div class="principle">{{ sighting.principle }}</div>
        <img src="{{ sighting.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' }}" />
        <h1>{{ sighting.title }}</h1>
        {% if sighting.summary %}
        <div class="quoted summary">{{ sighting.summary | default: 'TBD' }}</div>
        {% else %}
        <div class="summary">Summary TBD</div>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>