---
---

body {
    width: 11in;
    margin: 60px auto 10px;
    font: Didot, Helvetica;
}
body.unused {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header div {
    text-transform: uppercase;
    float: right;
    font-size: 12pt;
}
h1 {
    font-size: 33pt;
}
p.desc {
    font-size: 16.5pt;
    color: #245a6e;
    line-height: 19.8pt;
    width: 8.882in;
}
header.sightings {
    background: #245a6e;
    color: white;
    background: #1c4352;
    height: 80px;
    padding-left: 57px;
    display: flex;
    align-items: center;
    font-size: 16.5pt;
}
.sightings {
    color: white;
    h2 {
        img {
            padding-right: 10px;
        }
        &::before {
            content: url(sightings.svg);
            padding-right: 15px;
        }
    }
}
section.sightings {
    display: flex;
    flex-wrap: wrap;
    background: #306e80;
    margin-bottom: 90px;
}
.sighting {
    width: 320px;
    padding-left: 57px;
    padding-right: 50px;
    font-size: 9.75pt;
    line-height: 11.7pt;
    h3 {
        font-size: 30pt;
        line-height: 32.25pt;
        width: 320px;
        height: 183px;
        padding-left: 30px;
        padding-top: 24px;
    }
    dt,
    dd {
        display: inline;
        margin: 0;
        font-weight: bold;
        line-height: 12pt;
    }
    dt {
        text-transform: uppercase;
        &::after {
            content: ': ';
        }
    }
    dd::after {
        content: '\a';
        white-space: pre;
    }
    .description {
        ul {
            margin-left: 0px;
        }
        ol {
            margin-left: 0px;
            padding-left: 17px;
        }
    }
}
