header {
  margin: 1px;
  padding-left: 15px;
  padding-top: 15px;
  background: $default-header-bg;
  box-shadow: 0 0 $header-blur-radius $dark-background;
  nav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13.75px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        display: inline;
        text-transform: uppercase;
        &:not(:first-child):before {
          content: '|';
          padding: 10px;
        }
      }
    }
  }
}
header.default {
  height: 40px;
  padding-top: 5px;
  color: white;
  .logo {
    color: white;
    .box {
      width: 18px;
      padding: 5px;
      font-size: 12px;
      border: 1px solid white;
    }
    .box,
    .title {
      float: left;
    }
    .title {
      width: 80px;
      padding-left: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
header.home {
  position: relative;
  color: white;
  height: 370px;
  .logo {
    position: absolute;
    top: 40px;
    width: 90px;
    padding: 4px 8px;
    padding-top: 10px;
    border: 8px solid white;
    .year {
      font-size: 10px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
    }
    .subtitle {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.1;
      text-transform: uppercase;
    }
  }
  .description {
    position: absolute;
    top: 235px;
    max-width: 295px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.45;
    text-transform: uppercase;
  }
}
body.principle-encouraging-healthy-team-experiences,
body.principle-fostering-student-autonomy {
  header {
    background: $green-header-bg;
    box-shadow: 0 0 $header-blur-radius $green-header-bg;
  }
}
body.principle-making-thinking-visible,
body.principle-crossing-disciplinary-boundaries {
  header {
    background: $blue-header-bg;
    box-shadow: 0 0 $header-blur-radius $blue-header-bg;
  }
}
// vertical nav
@media only screen and (max-width: 800px) {
  header {
    nav {
      font-size: 7pt;
      ul > li {
        display: block;
        text-align: right;
        &:not(:first-child):before {
          content: '';
        }
      }
    }
  }
  header.home .description {
    margin-top: 20px;
    font-size: 9pt;
  }
}
