$banner-width: 857px;
$banner-height: 408px;

header.home {
  transition: height 1;
  .description {
    top: 190px;
    transition: margin-top 0.25s;
  }
  .banner {
    display: none;
    position: absolute;
    top: 104px;
    left: 470px;
    width: $banner-width;
    height: $banner-height;
    .background,
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .background {
      background-size: $banner-width;
    }
    .content {
      $pad-left: 45px;
      $pad-right: 160px;
      padding: 250px $pad-right 0 $pad-left;
      width: $banner-width - $pad-left - $pad-right;
      height: $banner-height - 250px;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      .title {
        font-size: 35px;
        line-height: 42px;
        text-transform: none;
      }
    }
  }
}
body.home {
  .sightings.grid {
    transition: margin-top 0.25s;
  }
}
@media only screen and (max-width: 1336px) {
  header.home {
    height: 285px;
  }
}
@media only screen and (min-width: 1337px) {
  header.home .description {
    margin-top: 20px;
    font-size: 9pt;
  }
  header.home .banner {
    display: block;
  }
  body.home {
    .sightings.grid {
      margin-top: 185px;
    }
  }
}
