// Principles page
body.principles {
  .inner{
    padding: 10px;
    & > p,
    .principles{
      display: block;
      margin: 0 auto;
      max-width: 1350px;
    }
    & > p{
      margin: 20px auto;
    }
  }
  .content.container {
    .inner{
      margin: 25px auto;
      background: $light-gray;
      font-size: 18px;
      line-height: 21.6px;
    }
 
    h6{
      margin-top: 0;
      text-transform: uppercase;
    }
    h1 {
      position: relative;
      // font-size: 12px;
      font-weight: normal;
      padding-bottom: 25px;
    }

    .principles {
      margin-top: 40px;
      .principle {
        @extend .link-block;
        display: inline-block;
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 5px;
        h2 {
          margin-bottom: 7px;
          margin-top: 15px;
          font-size: 20px;
          font-weight: bold;
        }
        border: 1px solid transparent;
      }
    }
  }
}
