.sightings.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
  
  @include breakpoint(xlarge){
    margin-top: 0px;
    justify-content: start;
  }
}
.sighting.card {
  @extend .link-block;
  height: 410px;
  background: $light-gray;
  width: 100%;
  margin-bottom: 20px;
  @include breakpoint(large){
    width: 30%;
    margin-left: 1.5%;
  }
  @include breakpoint(xlarge){
    width: 24%;
    margin-left: 1.333333%;
  }
  &.show-card{
    display: block;
  }
  &.hide-card{
    display: none;
  }
  .inner{
    padding: 10px;
    &>{
      display: inline-block;
      width: 100%;
    }
  }
  .principle {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  h1 {
    padding-top: 10px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: normal;
    &::after {
      content: '!';
    }
  }
  .summary {
    font-size: 15px;
    &.quoted::before {
      content: '“';
    }
    &.quoted::after {
      content: '”';
    }
  }
  img {
    width: 100%;
  }
  .poster {
    position: relative;
    height: 200px;
    padding: 15px;
    background: green;
    color: lightgreen;
  }
}
@include breakpoint(large){
  .card:first-child,
  .card:nth-child(4n){
    margin-left: 0;
  }
}
@include breakpoint(xlarge){
  .card:nth-child(4n){
    margin-left: 1.333333%;
  }
  .card:first-child,
  .card:nth-child(4n+1){
    margin-left: 0;
  }
}
