.sightings.grid {
  display: grid;
  padding: 10px;
  padding-left: 32px;
  grid-template-columns: repeat(auto-fill, 415px);
  grid-row-gap: 20px;
  grid-column-gap: 25px;
}
.sighting.card {
  @extend .link-block;
  padding: 10px;
  padding-top: 17px;
  height: 410px;
  background: $card-background;
  .principle {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  h1 {
    padding-top: 10px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: normal;
    &::after {
      content: '!';
    }
  }
  .summary {
    font-size: 15px;
    &.quoted::before {
      content: '“';
    }
    &.quoted::after {
      content: '”';
    }
  }
  img {
    width: 392px;
  }
  .poster {
    position: relative;
    height: 200px;
    padding: 15px;
    background: green;
    color: lightgreen;
  }
}
