// Sightings page
body.sighting {
  @include breakpoint(large) {
    .card:first-child,
    .card:nth-child(4n + 1) {
      margin-left: 0;
    }
  }
  @include breakpoint(xlarge) {
    .card:nth-child(4n) {
      margin-left: 1.333333%;
    }
    .card:first-child,
    .card:nth-child(4n + 1) {
      margin-left: 0;
    }
  }
  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block-end: 0px;
    }
    p,
    span {
      margin-block-start: 0.25rem;
      display: inline;
    }
    blockquote {
      font-weight: bold;
      margin: 10px 0 30px;
      &::before {
        content: "“";
        display: inline;
      }
      &::after {
        content: "”";
        display: inline;
      }
    }
    padding-bottom: 40px;
  }
  main.sighting {
    display: flex;
    flex-direction: row;
    background: $light-gray;
    margin: 40px 0;
    .sighting-item {
      display: block;
      float: left;
      padding: 10px;
    }
    .sighting-item-left {
      @include breakpoint(large) {
        width: 66.666%;
      }
      @include breakpoint(xlarge) {
        width: 75%;
      }
      .inner {
        .principle {
          padding-bottom: 10px;
          display: inline-block;
        }
      }
    }
    .sighting-item-right {
      @include breakpoint(large) {
        width: 33.333%;
      }
      @include breakpoint(xlarge) {
        width: 25%;
      }
      .inner {
        padding-top: 30px;
        padding-right: 20px;
      }
    }
    .meta-item {
      width: 100%;
      float: left;
      border-top: 1px solid $dark-grey;
      padding: 10px 0 30px;
      & > * {
        display: inline-block;
        width: 100%;
      }
    }
    .meta-detail-link {
      &:hover {
        text-decoration: none;
        a {
          text-decoration: none;
        }
        span {
          // border-width: 2px;
        }
      }
      span {
        border-bottom: 1px solid;
        // padding-bottom: 1px;
      }
    }
    .meta-label {
      text-transform: uppercase;
      font-weight: 600;
    }
    video {
      height: auto;
      width: 100%;
    }
    .principle {
      text-transform: uppercase;
    }
    h1 {
      &::after {
        // content: '!';
      }
    }
    img {
      width: 640px;
    }
    .quote {
    }
    aside {
      padding-left: 10px;
      padding-bottom: 5px;
      font-size: 10pt;
      dt {
        padding-top: 5px;
        border-top: 1px solid gray;
        font-weight: bold;
        text-transform: uppercase;
        &::after {
          content: ":";
        }
      }
      dd {
        margin-left: 0;
        margin-bottom: 15px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
  .related-content {
    position: relative;
    .sightings {
      display: flex;
      flex-wrap: wrap;
    }
    .buttons {
      padding-left: 15px;
    }
    &.same-course .course-button,
    &.same-instructor .instructor-button,
    &.same-principle .principle-button {
      text-decoration: underline;
    }
    &.same-course .different-course,
    &.same-instructor .different-instructor,
    &.same-principle .different-principle {
      display: none;
    }
  }
} // Responsive breakpoints
@media only screen and (max-width: 600px) {
  body.sighting {
    main.sighting {
      video {
        max-width: 320px;
        max-height: 180px;
      }
    }
  }
}
// sighting metadata is right of content; principles are in two columns
@media only screen and (min-width: 800px) {
  body.principles .content .principles {
    columns: 2 auto;
    column-gap: 50px;
  }
}
