---
layout: default
---
{% assign filler-count = 12 %}
{% include url-filters.html type="principle" %}
<div class="principle-wrapper">

  <div class="principle-desc">
    <h1>{{ page.title }}</h1>
    <div class="inner">
      {{ page.moreInfo }}
    </div>
    <div class="controls">
      <div class="control-item show-information">
        <i class="fab fa-readme"></i>
        <span>More Info</span>
      </div>
      <div class="control-item show-sightings">
        <i class="fab fa-youtube"></i>
        <span>Video Sightings</span>
      </div>
    </div>
    <hr />
  </div>
  <div class="information">
    {{content}}
  </div>
  <div class="sightings-container">
    {% assign sightings = '' | split: '' %}
    {% for sighting in site.sightings %}
    {% if sighting.principle != page.title %}{% continue %}{% endif %}
    {% assign sightings = sightings | push: sighting %}
    {% endfor %}
    <div class="sightings random grid">
      {% for sighting in sightings %}
      <a class="sighting card show-card" href="{{ sighting.url | relative_url }}">
        <div class="inner">
          <div class="principle">{{ sighting.principle }}</div>
          <img src="{{ sighting.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' }}" />
          <h1>{{ sighting.title }}</h1>
          <div class="summary">{{ sighting.teaser }}</div>
        </div>
      </a>
      {% endfor %}

      {% for num in (1..filler-count) %}
        <a class="sighting card show-card" href="#">
          <div class="inner">
              <div class="principle">FPO Principle</div>
              <img src="https://olin-design-principles.s3.amazonaws.com/8_Sci Fi_Making Thinking Visible_Thumbnail.jpg"/>
              <h1>FPO Sighting</h1>
              <div class="summary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec neque felis. Nunc rhoncus purus venenatis ligula dictum semper molestie id libero. Interdum et malesuada.</div>
              </div>
        </a>
      {% endfor %}
    </div>
  </div>

</div>