---
layout: default
---

{% assign poster_url = page.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' | relative_url %}
{% assign movie_url = page.media-key | prepend: site.media_base_url | append: '.mp4' | relative_url %}
{% assign course_url = site.courses | where: 'course-number', page.course-number | map: 'url' | first | relative_url %}
{% assign principle_url = site.principles | where: 'title', page.principle | map: 'url' | first | relative_url %}

{% include url-filters.html type="principle" %}

<main class="sighting">
  <div class="sighting-item sighting-item-left">
    <div class="inner">
            <a class="principle" href="{{ principle_url }}">{{ page.principle }}</a>
            <video controls
               src="{{ movie_url }}"
               poster="{{ poster_url }}">
              <a href="{{ movie_url }}">
                <img src="{{ poster_url }}">
              </a>
            </video>
            <h1>{{ page.title }}</h1>
            <div class="markdown">
                {{ content }}
            </div>
    </div>
  </div>
  <div class="sighting-item sighting-item-right">
      <div class="inner">
        <div class="meta-item">
          <label for="" class="meta-label">Principle:</label>
          <a class="meta-detail-link" href="{{ principle_url }}"><span>{{ page.principle }}</span></a>
        </div>
        <div class="meta-item">
            <label for="" class="meta-label">Teaching Team:</label>
            {% if page.course-instructor %}
              <a class="meta-detail-link" href="{{ site.baseurl }}/instructors/{{ page.course-instructor | slugify | remove: "-ph-d" }}"><span>{{ page.course-instructor }}</span></a>
            {% else %}
            <span class="meta-detail-link" >
              {% for instructor in page.course-instructors %}
                {%- if forloop.index0 > 0 %}, {% endif %}
                <a href="{{ site.baseurl }}/instructors/{{ instructor | slugify | remove: "-ph-d" }}"><span>{{ instructor }}</span></a>
              {%- endfor -%}
            </span>
            {% endif %}
        </div>
        <div class="meta-item">
            <label for="" class="meta-label">Course:</label>
            <a class="meta-detail-link" href="{{ course_url }}"><span>{{ page.course-number }} {{ page.course-title }}</span></a>
        </div>
        </div>
  </div>

</main>

{% assign related-sightings = '' | split: '' %}
{% assign course-count = 0 %}
{% assign instructor-count = 0 %}
{% assign principle-count = 0 %}
{% assign filler-count = 8 %}
{% for sighting in site.sightings %}
  {% if sighting.path == page.path %}{% continue %}{% endif %}
  {% assign totals-0 = course-count | plus: instructor-count | plus: principle-count %}
  {% if sighting.course-number == page.course-number %}{% assign course-count = course-count | plus: 1 %}{% endif %}
  {% assign shares-instructor = sighting | shares_instructor: page %}
  {% if shares-instructor %}{% assign instructor-count = instructor-count | plus: 1 %}{% endif %}
  {% if sighting.principle == page.principle %}{% assign principle-count = principle-count | plus: 1 %}{% endif %}
  {% assign totals-1 = course-count | plus: instructor-count | plus: principle-count %}
  {% if totals-0 == totals-1 %}{% continue %}{% endif %}
  {% if sighting.principle == page.principle %}
    {% assign related-sightings = related-sightings | push: sighting %}
    {% assign filler-count = filler-count | minus: 1 %}
  {% endif %}
{% endfor %}

{% assign initial-filter = 'principle' %}
{% assign total-count = course-count | plus: instructor-count | plus: principle-count %}
{% if principle-count == 0 %}
  {% assign initial-filter = 'course' %}
  {% if course-count == 0 %}{% assign initial-filter = 'instructor' %}{% endif %}
{% endif %}
<section class="related-content same-{{ initial-filter }} if-{{ total-count }}">
  <h4>Related Content:</h4>
  <!-- <div class="buttons">
    <button class="principle-button if-{{ principle-count }}" onClick="setRelatedFilter('principle')">by principle</button>
    <button class="course-button if-{{ course-count }}" onClick="setRelatedFilter('course')">by course</button>
    <button class="instructor-button if-{{ instructor-count }}" onClick="setRelatedFilter('instructor')">same instructor</button>
  </div> -->
<div class="sightings">
  {% for sighting in related-sightings %}
    {% if sighting.course-number != page.course-number %}
      {% assign visibleClass = visibleClass | append: ' different-course' %}
    {% endif %}
    {% assign shares-instructor = sighting | shares_instructor: page %}
    {% if shares-instructor %}{% else %}
      {% assign visibleClass = visibleClass | append: ' different-instructor' %}
    {% endif %}
    <a class="sighting card {{ visibleClass }}" href={{ sighting.url | relative_url }}>
      <div class="inner">
          <div class="principle">{{ sighting.principle }}</div>
          <img src="{{ sighting.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' }}"/>
          <h1>{{ sighting.title }}</h1>
          {% if sighting.teaser %}
            <div class="summary">{{ sighting.teaser }}</div>
          {% else %}
            <div class="summary">Summary TBD</div>
          {% endif %}
      </div>
    </a>
  {% endfor %}
  {% for num in (1..filler-count) %}
      <a class="sighting card {{ visibleClass }}" href="#">
        <div class="inner">
            <div class="principle">FPO Principle</div>
            <img src="/assets/images/fpo_sighting.jpg"/>
            <h1>FPO Sighting</h1>
            <div class="summary">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec neque felis. Nunc rhoncus purus venenatis ligula dictum semper molestie id libero. Interdum et malesuada.</div>
            </div>
      </a>
  {% endfor %}
  </div>
</section>