---
layout: default
---

{% assign poster_url = page.media-key | prepend: site.media_base_url | append: '_Thumbnail.jpg' %}

<header>
  <div class="logo">
    <div class="box">Odp</div>
    <div class="title">Olin Design Principles</div>
  </div>

  <nav>
    <ul>
      <li>About the Collaboratory</li>
      <li>The Principles</li>
      <li>Contact us</li>
    </ul>
  </nav>
</header>

<section class="sighting">
  <div class="content">
    <div>{{ page.principle }}</div>
    <img src="{{ poster_url }}">
    <h1>{{ page.title }}</h1>
    <div class="summary">{{ page.summary }}</div>
    {{ content }}
  </div>

  <dl class="meta">
    <dt>Principle</dt>
    <dd>{{ page.principle }}</dd>
    <dt>Teaching Team</dt>
    <dd>{{ page.teaching-team }}</dd>
    <dt>Class</dt>
    <dd>{{ page.course-number }} {{ page.course-title }}</dd>
  </dl>
</section>
