body {
    width: 11in;
    margin: 60px auto 10px;
    font: Didot, Helvetica;
}

header div {
    text-transform: uppercase;
    float: right;
    font-size: 12pt;
}

h1 {
    font-size: 33pt;
}

p.desc {
    font-size: 16.5pt;
    color: #245A6E;
    line-height: 19.8pt;
    width: 8.882in;
}

header.sightings {
    background: #245A6E;
    color: white;
}

header.sightings {
    background: #1C4352;
    height: 80px;
    padding-left: 57px;
    display: flex;
    align-items: center;
    font-size: 16.5pt;
}

.sightings h2 img {
    padding-right: 10px;
}

.sightings h2::before {
    content: url(sightings.svg);
    padding-right: 15px;
}

section.sightings {
    display: flex;
    flex-wrap: wrap;
    background: #2a7993;
    margin-bottom: 90px;
}

.sighting {
    width: 320px;
    padding-left: 57px;
    padding-right: 50px;
    font-size: 9.75pt;
    line-height: 11.7pt;
}

.sighting h3 {
    font-size: 30pt;
    line-height: 32.25pt;
    width: 320px;
    height: 183px;
    padding-left: 30px;
    padding-top: 24px;
}

. .sighting dt,
.sighting dd {
    display: inline;
    margin: 0;
    font-weight: bold;
    line-height: 24pt;
}

.sighting dt {
    text-transform: uppercase;
}

.sighting dt::after {
    content: ': ';
}

.sighting dd::after {
    content: "\a";
    white-space: pre;
}