body {
    /* padding-top: 60px; */
    max-width: 1195px;
    /* margin: auto; */
    margin: 60px auto 10px;
    font: Didot, Helvetica;
}

.App {
    transform-origin: top left;
    transform: scale(0.7);
}

header div {
    text-transform: uppercase;
    float: right;
    font-size: 16pt;
}

h1 {
    font-size: 44pt;
}

p.desc {
    font-size: 22pt;
    color: #245A6E;
    line-height: 26.4pt;
}

.sightings {
    background: #245A6E;
    color: white;
}

.sightings header {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto; */
    background: #1C4352;
    font-size: 22pt;
    height: 122px;
    padding-left: 90px;
    margin-bottom: 90px;
}

.sightings h2 {
    font-size: 22pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sightings h2 img {
    padding-right: 10px;
}

.sighting {
    width: 490px;
    margin-left: 90px;
    font-size: 13pt;
    line-height: 15.6pt;
}

h3 {
    font-size: 40pt;
    line-height: 43pt;
    width: 490px;
    height: 280px;
    padding-left: 30px;
    padding-top: 24px;
    /* display: block; */
}

dt,
dd {
    display: inline;
    margin: 0;
    font-weight: bold;
    line-height: 24pt;
}

dt {
    text-transform: uppercase;
}

dt::after {
    content: ': ';
}

dd::after {
    content: "\a";
    white-space: pre;
}